table {
border-collapse: collapse;
    border: 2px solid black;
}

td {
    padding: 5px;
    padding-right: 10px;
    border: 1px solid lightgray;
    background: aqua;
    color:green;
}

caption {
    margin-bottom: 10px;
    font-size: 44px;
}

fieldset{
    background: aquamarine;
    border-color: green;
}

.password{
    text-align: center;
    padding: 5px;
    margin: 0 0px 0px 42px;
}

.email {
    text-align: center;
    padding: 10px;
}

.button{
    background-color: yellow;
    margin: 0 0 0 450px;
}

div{
    padding: 5px;
    margin-bottom: 10px;
}

.email2{
    margin: 0 0 0 124px;
}

.password2 {
    margin: 0 0 0 100px;
}

.login{
    margin: 0 0 0 127px;
}


